@import 'global';


.social{
    padding: 2rem;

    .hero{
        h2{
            font-size: 3rem;
            font-weight: 700;
            color: $primary-color;
            text-align: center;
            margin: 2.5rem 0rem 1rem 0rem;
        }
        p{
            font-size: 1.5rem;
            color: $Dark-Gray;
            text-align: center;
        }
    }
}

.rate{
    margin: 1.5rem 0rem;
    background: $Dark-Gray;
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

    .star-img{
        margin: 5px 0px;

        span{
            margin: 0px 5px;
        }
    }

    .rate-text{
        color: $primary-color;
        font-size: 1.5rem;
        font-weight: 500;
    }
}

.testimonial{
    background: $primary-color;
    width: 100%;
    padding: 2rem;
    border-radius: 5px;
    margin: 2rem 0rem;

    .testimonial-profile{
        display: flex;

        span{
            margin: 0px 20px 0px 0px;
            img{
                width: 5rem;
                height: 5rem;
                border-radius: 50%;
            }
        }

        h3,p{
            font-size: 1.5rem;
            margin: 5px 0px;
        }
        h3{
            color: $Light-Gray;
            font-weight: 500;
        }

        p{
            color: $secondary-color;
        }
    }

    .testimonial-text{
        margin-top: 2rem;
        p{
            color: $Light-Gray;
            font-size: 1.5rem;
        }
    }
}

@media screen and (min-width:768px) {
    .social{
        padding: 7rem;
    }
    .hero{
        display: flex;

        

        .hero-text{
            flex: 1 2 10rem;

            h2{
                font-size: 4rem;
                line-height: 1;
                text-align: left;
            }
            p{
                text-align: left;
                font-size: 2rem;
                margin-top: 1.5rem;
            }
        }
        
        .rates{
            margin: 2rem 0rem 0rem 8rem;
            flex: 2.5 1 20rem;
            position: relative;

            .rate{
                flex-direction: row;
                width: 60%;

                .star-img{
                    margin-right: 2rem;
                }
            }

            .rate-1{
                position: absolute;
                top: 0;
                right: 35%;
            }
            .rate-2{
                position: absolute;
                top: 30%;
                right: 20%;
            }
            .rate-3{
                position: absolute;
                top: 60%;
                right: 0;
            }
        }
    }

    .testimonials{
        height: 50vh;
        display: flex;
        margin: 4rem 0rem 0rem 0rem;
        position: relative;

        .testimonial{
            width: 30%;
        }
        .testimonial-1{
            position: absolute;
            top: 0;
               
        }

        .testimonial-2{
            position: absolute;
            top: 10%;
            right: 34%;
        }

        .testimonial-3{
            position: absolute;
                top: 20%;
                right: 0;
        }
    }
}